@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}
/*__________________________*/
body {
  background: url("../img/bg_new.png") repeat;
  background-size: cover;
  background-color: white;
}
/* Шапка сайта*/
.header {
  width: 100%;
  background-color: #04081D;
}
.container{
  max-width: 695px;
  padding: 0 15px;
  margin: 0 auto;
}
.container a{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.container a:hover{
  text-decoration: underline;
}
p{
  line-height: 1.6;
}

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gradient{
  background: linear-gradient(90.25deg, #3C99FB 20.81%, rgba(203, 95, 250, 0.8) 74.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li{
  padding: 25px 0; 
}
.record{
  color: white;
  height: 40px;
  width: 160px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 13px;
  background: radial-gradient(106.56% 100% at 50% 0%, #31E4FA 0%, #2F6CFF 63.3%, rgba(223, 29, 255, 0.89) 100%);

}
/* 1 секция*/
.container1{
  max-width: 100%;
  
}
.main {
  
}
.welcome {
  height: 100vh;
  min-height: 640px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/turtle.png") top right/50% 100% no-repeat,
  url("../img/first_bg.png") top left/70% 100% no-repeat;
              

}
.welcome__textdiv {
  font-family: 'Ubuntu', sans-serif;
  width: 50%;
  margin-left: 35px;
  text-align: center;
}

.welcome__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 0.9;
}
.welcome__text {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
}
.welcome__title2 {
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.1;
}

.record2 {
  margin-top: 10px;
  color: white;
  height: 60px;
  width: 190px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  background: radial-gradient(106.56% 100% at 50% 0%, #31E4FA 0%, #2F6CFF 63.3%, rgba(223, 29, 255, 0.89) 100%);
}
